.mui-bar {
  background-color: skyblue;
}
.mui-bar a {
  color: #fff;
}
.mui-bar.mui-bar-tab a {
  color: #fff;
}
.nav {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.nav li {
  width: 33.33%;
  float: left;
}
.nav li a {
  width: 100%;
}
.nav li a img {
  width: 100%;
  display: block;
}
.brand {
  width: 100%;
  padding: 0 10px;
}
.brand .title {
  width: 100%;
}
.brand .title img {
  width: 100%;
}
.brand .brand-logo {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}
.brand .brand-logo li {
  width: 25%;
  float: left;
  margin-top: 5px;
}
.brand .brand-logo li img {
  width: 100%;
}
.sports {
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
}
.sports .sports-title {
  width: 100%;
}
.sports .sports-title img {
  width: 100%;
}
.sports .sports-logo {
  width: 100%;
  margin: 20px 0;
}
.sports .sports-logo li {
  width: 50%;
  float: left;
  padding: 5px;
  font-size: 12px;
}
.sports .sports-logo li a {
  display: block;
  text-align: center;
  box-shadow: 0px 0px 0px 3px #ccc;
}
.sports .sports-logo li a img {
  width: 100%;
}
.sports .sports-logo li a span {
  color: red;
}
.sports .sports-logo li a button {
  display: block;
  margin: auto;
  background-color: skyblue;
  border-radius: 20px;
}
