.mui-bar {
  background-color: skyblue;
}
.mui-bar a {
  color: #fff;
}
.mui-bar.mui-bar-tab a {
  color: #fff;
}
.mui-content .login_in_sb {
  background-color: blue;
  padding-left: 40px;
  width: 50%;
  letter-spacing: 2em;
  text-align: center;
}
.mui-content .mui-input-group > a {
  float: right;
  color: blue;
  font-size: 14px;
}
